{% extends "index.html" %}

{% block body %}

    <h1>Authors</h1>

    <a href="/admin/users">All users</a>

    

    <a href="/logout">Logout</a>


    <form action="/admin/authors" method="post">
        <h5>Fill form to add an Author information</h5>
        <label for="name">Author Name: </label>
        <input type="text" name="name" placeholder="Author Name" required><br>
        <label for="description">Author description: </label>
        <input type="text" name="description" placeholder="Author description" required><br>
        <label for="image">Author image URL: </label>
        <input type="text" name="image" placeholder="Author image URL" required><br>

        <button type="submit">Add Author</button>
    </form>

    {% if authors %}
        <ul>
            {% for author in authors %}
                <li>{{ author.name }} | <a href="authors/{{author.id}}">View Author</a></li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No authors found.</p>
    {% endif %}

{% endblock %}