{% extends "index.html" %}

{% block body %}

    <h1>Admin Dashboard</h1>

    <a href="/admin/authors">Authors</a>

    <a href="/admin/quotes">Quotes</a>

    <a href="/admin/users">All users</a>

    

    <a href="/logout">Logout</a>




    <p>Hello Admin, here your application stats</p>

    <img src="{{ bargraph_path }}" alt="" style="max-height: 300px;">
    <img src="{{ piegraph_path }}" alt="" style="max-height: 300px;">


<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {% for author in authors %}
            '{{ author.name }}',
        {% endfor %}
        // 'Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'
        ], // author names
      datasets: [{
        label: '# of Quotes',
        data: [
            {% for author in authors %}
                {{ author.quotes | length }},
            {% endfor %}
            // 12, 19, 3, 5, 2, 3
            ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}