{% extends "index.html" %}

{% block body %}

    <h1>Login</h1>

    <form action="login" method="POST">
            
        <label for="email">Email:</label>
        <input name="email" id="email" type="email" value="hello@gmail.com" required /><br><br>

        <label for="password">Password:</label>
        <input name="password" id="password" type="password" value="hello" required /><br><br>

        <button>Submit</button>

    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>

{% endblock %}